pipeline/MongoToSQL.json
{
	"name": "MongoToSQL",
	"properties": {
		"activities": [
			{
				"name": "Copy To Staging Table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Staging Table Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CosmosDbMongoDbApiSource",
						"batchSize": 100,
						"filter": {
							"value": "@variables('cosmos_filter')",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "mdb_domain_data_collection",
						"type": "DatasetReference",
						"parameters": {
							"domain_id": {
								"value": "@variables('domain_id')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "sql_domain_data_collection",
						"type": "DatasetReference",
						"parameters": {
							"domain_id": {
								"value": "@variables('domain_id')",
								"type": "Expression"
							},
							"table_name": {
								"value": "@variables('staging_table_name')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Domain ID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "domain_id",
					"value": {
						"value": "@split(pipeline().parameters.input, '.')[0]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Flow ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Domain ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "flow_id",
					"value": {
						"value": "@split(pipeline().parameters.input, '.')[1]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Cosmos Filter",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Flow ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "cosmos_filter",
					"value": {
						"value": "{'flow_id': \"@{variables('flow_id')}\"}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Merge Staging Table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy To Staging Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_MERGE_COLLECTION_DATA]",
					"storedProcedureParameters": {
						"sourceSchema": {
							"value": {
								"value": "@variables('domain_id')",
								"type": "Expression"
							},
							"type": "String"
						},
						"sourceTable": {
							"value": {
								"value": "@variables('staging_table_name')",
								"type": "Expression"
							},
							"type": "String"
						},
						"targetSchema": {
							"value": {
								"value": "@variables('domain_id')",
								"type": "Expression"
							},
							"type": "String"
						},
						"targetTable": {
							"value": "collection_data",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "linkedService1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set Staging Table Name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Cosmos Filter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "staging_table_name",
					"value": {
						"value": "staging_@{variables('flow_id')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "true\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"input": {
				"type": "string",
				"defaultValue": "d.f"
			}
		},
		"variables": {
			"domain_id": {
				"type": "String"
			},
			"flow_id": {
				"type": "String"
			},
			"cosmos_filter": {
				"type": "String"
			},
			"staging_table_name": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-09-07T18:48:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}